.about {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  background-color: #c7fac9;
}
.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 1rem;
}
.aboutHeading {
  font-size: 4rem;
  font-weight: 700;
  color: #f4511e;
  margin-bottom: 2rem;

  position: relative;
}
.aboutHeading::after {
  content: "who i am";
  font-size: 1.6rem;
  padding: 0 1rem;
  position: absolute;
  top: 94%;
  left: 26%;
  width: 7.5rem;
  background-color: #c7fac9;
  color: #0277bd;
}
.aboutHeading::before {
  content: "";
  height: 0.4rem;
  background-color: #5d4037;
  position: absolute;
  top: 110%;
  left: 11%;
  width: 16rem;
}
.aboutWrapper {
  width: 100%;
  max-width: 114rem;
  padding: 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5rem;
}
.aboutImg {
  background-color: #96007d;
  flex: 1;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.aboutImg img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.aboutText {
  flex: 2;
}
.aboutTitle {
  font-size: 4.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #ff5722;
}
.aboutSubtitle {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  color: #0277bd;
}

.aboutDesc {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #422d27;
  margin-top: 2rem;
}
@media only screen and (max-width: 768px) {
  .aboutWrapper {
    width: 100%;
    padding: 1rem;
    column-gap: 2rem;
  }
  .aboutText {
    margin-left: 4rem;
  }
}
@media only screen and (max-width: 400px) {
  .about {
    height: auto;
  }
  .aboutContent {
    width: 100%;
    padding: 1rem;
  }
  .aboutWrapper {
    flex-direction: column;
    margin: 0 auto;
  }
  .aboutImg {
    flex: 1;
    max-width: 50%;
    margin-bottom: 2rem;
  }
  .aboutImg img {
    width: 100%;
  }
  .aboutText {
    flex: 1;
    margin-left: 0;
  }
  .aboutHeading {
    font-size: 3rem;
  }
  .aboutSubheading {
    font-size: 2rem;
  }
  .aboutDesc {
    font-size: 1.2rem;
    text-align: left;
  }
}
